version: "3.7"

services:
  app:
    build:
      context: .
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    env_file:
      - .env
    restart: on-failure
    command: >
      sh -c "python manage.py wait_for_db && python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"

  db:
    image: mysql:8.0.18
    ports:
      - "3308:3306"
    env_file:
      - .env
    restart: on-failure
    volumes:
      - ./mysql:/var/lib/mysql

  web:
    image: nginx:alpine
    ports:
      - "80:80"
    restart: on-failure
    volumes:
      - ./dist:/usr/share/nginx/html
      - ./backend/static:/usr/share/nginx/html/static
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
  redis:
    image: redis:alpine

  celery:
    build:
      context: .
    env_file:
      - .env
    volumes:
      - ./backend:/app
    command: >
      celery -A configs worker -l info

